{{template "base" .}}

{{define "title"}}About page{{end}}

{{define "content"}}
    <div class="content">
        <div class="row">
            <h1>This is the about page</h1>
        </div>
        <div class="row">
            <p>This is a paragraph of text</p>
        </div>
    </div>
{{end}}